body{
    background-color: orange;
}
#red{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 25px;
}
#green{
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 25px;
}
#blue{
    background-color: blue;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 25px;
}