<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/stylesheets/style.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&family=Prompt:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div style="padding:10px">
        <form action="/contacto" method="post">
            <div class="renglon mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="name@example.com">
            </div>
            <div class="renglon mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Gonzalo">
            </div>
            <div class="mb-3 renglon">
                <label for="exampleFormControlTextarea1" class="form-label">Deja tu mensaje acá</label>
                <textarea class="form-control" name="texto" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    {{message}}
</body>

</html>